/*==========================================================================================

  Project Name: Jott.ly
  Project Description: A SaaS Collaboration service for easy content creation and sharing.
  File Name: style.css 
  Author: Jeya Karthika
  Author URI: http://www.jeya.me
  Version: 0.2

  This is adapted from Skeleton V1.2's base.css by Dave Gamache
  
==========================================================================================*/


/* Table of Content
==================================================
	#Reset & Basics
	#Colour Reference
	#Basic Styles
	#Typography
	#Header Styles */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* #Colour Reference
===================
#58be8e - green
#4bc4d5 - blue
#e2e2e2 - light grey
#2f2f2d - dark grey
#000 - black
#fff - white */

/* #Basic Styles
================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size:100%;
}

body {
	position: relative;
	margin: 0 auto;
	font: 1em "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2f2f2d;
	text-align: center;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

hr { 
	border: solid #ddd; 
	border-width: 1px 0 0; 
	clear: both; 
	margin: 10px auto 30px; 
	height: 0; 
	color: #e2e2e2;
}

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6, p, a, input {
	font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #2f2f2d;
}

h1 {
	font-size: 4.2em;
	font-weight: 600;
	color: #4bc4d5;
}

h2 {
	font-size: 4em;
	font-weight: 200;
	font-style: italic;
	margin: 0 auto;
}

h2 span {
	color: #4bc4d5;
}

h3, h4 {
	font-size: 2.5em;
	padding: 1em 0;
	color: #58be8e;
}

p {
	font-weight: 200;
	font-size: 1.2em;
	padding: 0 1.8em;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
  	display: inline;
}






















