/*==========================================================================================

  Project Name: Jott.ly
  Project Description: A SaaS Collaboration service for easy content creation and sharing.
  File Name: style.css 
  Author: Jeya Karthika
  Author URI: http://www.jeya.me
  Version: 0.2

  This is adapted from Skeleton V1.2's layout.css by Dave Gamache
  
==========================================================================================*/


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		h2 {
			font-size: 3em;
		}

		.feature-icon {
			padding: 0.5em;
			width: 2em;
			height: 2em;
		}

		h3 {
			padding: 0.5em 0;
		}

		h4.user-name {
			font-size: 2.2em;
		}

		blockquote h2 {
	    font-size: 2.6em;
	    padding-left: 3em;
	  }

	  blockquote::before {
	    font-size: 16em;
	  }

	  #signup .sub-header h2 {
	  	font-size: 2.65em;
	  }

	  #signup .sub-header p {
	  	padding: 0.5em 0 0;
	  }

	  #signup .call-to-action {
	  	right: 5.3em;
	  }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		header {
			height: 25%;
		}
		.branding {
			padding: 0;
		}

		.logo img {
			width: 80%;
		}

		nav {
			text-align: center;
		}

		.hero-unit h1 {
	    padding: 1.2em 0 0;
		  font-size: 3em;
	  }
	  
	  .hero-unit p {
	    font-size: 1.5em;
	    padding: 0.5em 0 1.7em;
	  }

		p.fine-print {
	    font-size: 0.3em;
	    padding-top: 1.5em;
	  }

	  .jottly-screen img {
	  	width: 100%;
	  }

	  .feature-blobs div {
	  	padding-bottom: 3em;
	  }

	  h3 {
	  	padding: 0.3em 0 0.2em;
	  }

	  #team div.member {
	  	margin-bottom: 2em;
	  }

	  .member img {
	  	width: 100%;
	  }

	  .user:nth-child(2) , .user:nth-child(3) {
	  	display: none;
	  }

	  blockquote h2 {
	    font-size: 2em;
	    padding-left: 3.5em;
	  }

	  blockquote::before {
	    font-size: 12em;
	  }

	  #stories .user {
	  	margin-top: 2em;
	  }

	  .story-icon {
      right: 1.8em;
    }

    #signup .sub-header {
    	padding: 2.5em 0 4em;
    }

    #signup .sub-header p {
    	font-size: 1.6em;
    }

		#signup input {
		  font-size: 1.6em;
		  padding: 0.6em 3.8em;
		}

		#signup .call-to-action {
		  right: -0.7em;
		  bottom: 0.3em;
		  padding: 0.8em 1em;
		}

		#signup .social p {
			padding: 2em 0 0.3em;
		}

		#signup .social a {
			padding: 0.5em 0.15em 2em;
		}

		#signup footer {
		  position: relative;
		}

		footer p {
			padding: 0 0 2em;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		nav {
			padding-right: 0;
			margin: 0.8em 0;
		}

		nav ul li a {
			padding-left: 0.5em;
		}

		nav ul li:first-child a {
			padding-left: 0;
		}

		#home .hero-unit {
			padding: 1em 0 0;
		}

		.hero-unit h1 {
			font-size: 2em;
			padding: 1.5em 0 0;
		}
		.hero-unit p {
			font-size: 1.1em;
		}

		.call-to-action {
			padding: 0.3em 1em;
			font-size: 1em;
		}

		p.fine-print {
			font-size: 0.6em;
		}

		h2 {
			font-size: 2em;
		}

		.sub-header {
			padding: 8.5em 0 3em;
		}

		.feature-icon {
			font-size: 3.2em;
		}

		h3 {
			font-size: 2em;
		}

		.feature-blobs p {
			font-size: 1em;
		}

		#team .sub-header {
			padding: 8.5em 0 3.8em;
		}

		h4.user-name {
			font-size: 1.5em;
			padding: 1.3em 0 0.5em;
		}

		#stories .story {
			padding-top: 8.5em;
		}

		blockquote h2 {
	    font-size: 1.5em;
	    padding-left: 2.2em;
	  }

	  blockquote::before {
	    font-size: 6em;
	  }

	  #stories hr {
	  	margin-bottom: 1em;
	  }

	  #stories .user {
	  	margin-top: 0.5em
	  }

	  #signup .sub-header {
	  	padding: 8.5em 0 2em;
	  }

	  #signup .sub-header h2 {
	  	font-size: 2em;
	  }

	  #signup .sub-header p {
	  	font-size: 1.2em;
	  }

	  #signup input {
	  	font-size: 1.1em;
	  }

	  #signup .call-to-action {
		  right: -0.5em;
		  bottom: 0.45em;
		  padding: 0.8em 1em;
		  font-size: 0.8em;
	  }

		#signup .social p {
			padding: 0 0 0.3em;
		}

		#signup .social a {
			font-size: 1.5em;
			padding: 0.5em 0.1em 2em;
		}

		footer p {
			float: none;
			padding: 0 0 0.5em;
		}
	}
