/*==========================================================================================

  Project Name: Jott.ly
  Project Description: A SaaS Collaboration service for easy content creation and sharing.
  File Name: style.css 
  Author: Jeya Karthika
  Author URI: http://www.jeya.me
  Version: 0.2

  This is adapted from Skeleton V1.2's layout.css by Dave Gamache
  
==========================================================================================*/


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		h2 {
			font-size: 3.5em;
		}

		.feature-icon {
			padding: 0.5em;
			width: 2em;
			height: 2em;
		}

		h3 {
			padding: 0.5em 0;
		}

		h4.user-name {
			font-size: 2.2em;
		}

		blockquote h2 {
	    font-size: 2.6em;
	    padding-left: 3em;
	  }

	  blockquote::before {
	    font-size: 16em;
	  }

	  #signup .sub-header h2 {
	  	font-size: 2.65em;
	  }

	  #signup .sub-header p {
	  	padding: 0.5em 0 0;
	  }

	  #signup .call-to-action {
	  	right: 5.3em;
	  }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/*Resetting all the absolute positioning to relative*/
		.blobs, #home .hero-unit, #home .jottly-screen, .story-icon, #signup .call-to-action {
			position: relative;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		/*Header*/
		.branding {
			padding: 0;
		}

		.logo img {
			width: 80%;
		}
	}
