/*---------------------------------------------------------------------------------

  Project Name: Jott.ly
  Project Description: A SaaS Collaboration service for easy content creation and sharing.
  File Name: style.css
  Author: Jeya Karthika
  Author URI: http://www.jeya.me
  Version: 0.1
  
----------------------------------------------------------------------------------*/

/* Table of Content
===================
  #Skeleton tweaks
  #Header Styles
  #Home Styles
  #Feature Styles
  #Team Styles
  #User Stories Styles
  #SignUp Styles

/* Color Reference
===================
#58be8e - green
#4bc4d5 - blue
#e2e2e2 - light grey
#2f2f2d - dark grey
#000 - black
#fff - white

/* #Common Styles
================================================== */
.row {
  margin-bottom: 0;
}

.container .columns, .container .column {
  position: relative;
  display: inline-block;
}

section {
  position: relative;
  height: 84%;
  bottom: 0;
  top: 16%;
  left: 0;
  right: 0;
}

.sub-header {
  padding: 3em 0 5em;
}

.blobs {
  position: absolute;
  bottom: 12%;
}

/* #Header Styles
================================================== */
header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 16%;
  padding: 1em;
  margin-bottom: 1em;
  /*-webkit-box-shadow: 0px 1px 10px -4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 10px -4px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 10px -4px rgba(50, 50, 50, 0.75);*/
  z-index: 1000;
  background-color: #fff;
}

  .branding {
    position: relative;
    margin: auto 0;
    left: 0;
    padding: 0.5em;
  }
    
    .logo {
      display: inline-block;
    }

    .logo-text {
      display: inline-block;
    }

      .logo-text h1{
        font-weight: 300;
        font-size: 3.5em;
        line-height: 1.2em;
      }

  nav {
    position: relative;
    margin: 2.1em 0;
    padding-right: 1.5em;
    text-align: right;
    right: 0;
    top: 50%;
  }

  nav ul li a {
    font-weight: 200;
    font-size: 1.1em;
    padding-left: 1.3em;
    padding-right: 0;
  }

  nav ul li a.selected, nav ul li a:hover {
    color: #4bc4d5;
    font-weight: 400;
  }

/* #Home Styles
================================================== */
#home .hero-unit {
  position: absolute;
  top: 0.2em;
  left: 0;
  padding: 1em 0 2em;
}
  .hero-unit h1 {
    padding: 0.2em 0;
  }
  
  .hero-unit p {
    font-weight: 200;
    font-size: 2em;
    padding: 0.5em 4.2em 1.7em;
  }

  .call-to-action {
    background-color: #58be8e;
    padding: 0.5em 1.5em;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2em;
  }

  p.fine-print {
    font-size: 0.7em;
    padding-top: 1.5em;
  }



#home .jottly-screen {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 auto 0;
}

  .jottly-screen img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    bottom: -0.3em;
    left: 0;
  }

/* #Features Styles
================================================== */

.feature-icon {
  color: #4bc4d5;
  background-color: #e2e2e2;
  border-radius: 50%;
  padding: 0.6em;
  width: 2.2em;
  height: 2.2em;
}

/* #Team Styles
================================================== */
#team .blobs {
  bottom: 0;
  margin-left: 2em;
}

#team div.member {
  margin-left: 0; 
  margin-right: 0;
  background-color: #e2e2e2;
}
  
  #team .sub-header {
    padding-top: 3.8em;
  }

  .member img:nth-child(odd) {
    position: relative;
    top: 0;
    left: 0;
  }

  .member img:nth-child(even) {
    position: relative;
    bottom: -0.2em;
    left: 0;
  }

  .member-name h3 {
    font-size: 2em;
    padding-bottom: 0.3em;
  }

  .member-name p {
    padding: 0 0 1.3em;
  }

  .member-name p.post {
    font-weight: 400;
    padding: 0 0 0.3em;
  }

/* #User Stories Styles
================================================== */
#stories .story {
  padding-top: 4em;
  bottom: 2em;
}

#stories .story hr {
  text-align: center;
  width: 8em;
  color: #e2e2e2;
}

  blockquote {
    position: relative;
    left: 0;
  }

  blockquote h2 {
    text-align: left;
    font-size: 3.1em;
    padding-left: 3.8em;
  }

  blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/
    font-size: 19em;
    font-weight: 600;
    color: #e2e2e2;
    position: absolute;
    left: 0; 
    top: -0.26em;
  }

  blockquote::after {
    content: "";
  }

    .story-icon {
      position: absolute;
      bottom: 0;
      right: 2.6em;
      color: #4bc4d5;
    }

/* #Signup Styles
================================================== */
#signup .sub-header {
  padding: 3.5em 0 6em;
}
#signup .sub-header h2 {
  font-size: 3.2em;
}

#signup .sub-header p {
  font-weight: 200;
  font-size: 2em;
  padding: 0.5em 3em 0;
}

#signup input {
  font-weight: 200;
  font-size: 2em;
  background: #f4f4f4;
  border: none;
  border-radius: 50px;
  color: #e2e2e2;
  padding: 0.6em 4em;
  outline: none;
}

#signup .call-to-action {
  position: absolute;
  right: 10.3em;
  bottom: 0.5em;
  padding: 1em 1.5em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 1000;
}

#signup .social {
  padding: 2em 0 0;
}

  #signup .social p {
    padding: 3em 0 0.3em;
  }

  #signup .social a {
    padding: 1em 0.3em;
  }

  #signup .social a {
    color: #e2e2e2;
  }

  #signup .social a:hover {
    color: #4bc4d5;
  }


/* #Footer Styles
================================================== */

#signup footer {
  position: absolute;
  bottom: 2em;
  left: 0;
}

  footer p {
    display: inline-block;
    float: left;
    font-size: 1em;
  }

  footer p.copyright {
    float: right;
  }

    footer p a {
      color: #2f2f2d;
    }





